.main-page {
  box-sizing: border-box;
  background-color: rgb(15, 75, 107);
  box-sizing: border-box;
  height: 1400px;
  width: 100vw;
  /* max-width: 1140px;
  max-height: 768px; */
  /* z-index: -1; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
}



#side-container{
  float: right; 
  height: 1400px;
  background: linear-gradient(to right, rgba(31, 121, 143, 0.001), rgba(1, 13, 18, 0.979));
  /* background-color: rgb(0, 26, 22); */
  margin-right: -200;
  /* flex-wrap: nowrap; */
  position:absolute;
  /* width: 100vw; */
  right:0px;
  width: 500px;
  
}

.net-crawler{
  position: relative;
  top: 360px;
  left: 40%;
  font-size: 60px;
  

}