#crouching-panther {
  height: 400px;
  width: 400px;
  margin-top: -370px;
  /* position: relative;
  top: 20px;
  border: none;
  display: block; */

  /* padding-top: 100px; */
  /* max-width: 500px; */
  /* max-height: 2000px; */
  /* min-width: 200px; */
  /* z-index: 2; */
}

 #panth {
  width: 1600px;
  margin-left: -625px;
  z-index: 2;
 }

 img {
  border: "0";
 }



  /* position: relative; */
  /* top: 0px;  */
  /* margin: auto;
  padding: 0;
  border: 0;
  padding-top: 100px; */
  /* width: 600px;
  height: 200px; */
  /* min-width: 200px;
  flex-direction: row;
  align-items: center;
  