* {
  /* box-sizing: border-box; */
  /* overflow: hidden; */
  /* overflow-x: hidden; */ 
  margin: 0px;
  padding: 0px;
  /* font-family: 'Encode Sans Expanded', sans-serif; */
  font-family: 'Tektur', cursive;
}

body {
  /* overflow:hidden; */
  height: 800px;
  /* width: 1140px; */
}
